.places__place {
  max-width: 984px;
  display: grid;
  gap: 48px 40px;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 460px auto;
}

@media screen and (max-width: 1024px) {
  .places__place {
    max-width: 928px;
    display: grid;
    gap: 48px 32px;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 440px auto;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    max-width: 720px;
    display: grid;
    gap: 48px 28px;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 340px auto;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    max-width: 320px;
    display: grid;
    gap: 32px;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
  }
}
